@tailwind base;
@tailwind components;
@tailwind utilities;


   
  /* 主題 */
  .theme-mudstone {
    --primary-color: #f3edea;
    --secondary-color: #ebe5e0;
    --tertiary-color:#b1a59d;
    --highlight:#a89a93 ;
    background: #f4f1ee;
    font-family: "Outfit", "sans-serif";
}

  .theme-modern {
    --primary-color: #dbdbdb;
    --secondary-color: #bababa47;
    --tertiary-color:#282828;
    --highlight:#3d3d3d ;
    background: #e9e9e9;
    font-family: "EB Garamond", "Noto Serif HK", serif;
  }

  .theme-classic {
    --primary-color: #e0e0e0;
    --secondary-color: #bfbfbf;
    --tertiary-color:#454545;
    --highlight:#606060 ;
  }

  :root {
  max-width: 1980px;
  margin: 0 auto;
  text-align: center;
  
  }

  ::selection {
    background-color: var(--secondary-color);
    color: var(--highlight);
  }

  @layer base {
  .theme-mudstone .dropdown{
      @apply mb-5 rounded-full w-40 m-2 appearance-none bg-white px-1 outline-none
    }

  .theme-modern .dropdown{
      @apply mb-6 w-40 mx-4 bg-transparent px-1 outline-none border-b-[1px] border-tertiary
    }


  .link-hover {
    color: var(--tertiary-color);
    scale: 1.05;
    transition: 0.2s ease-in-out;
  }

  .hover {
    transition: 0.2s ease-in-out;
  }

  .img-hover {
    scale: 1.03;
    transition: 0.6s ease-out;
  }

  .img-rounded {
     border-radius: 15px 50px;
  }

  .inner-shadow{
    width: 150px;
    height: 150px;
    box-shadow: inset rgba(60, 70, 85, 0.5) 0px 0px 40px 0px, rgba(0, 0, 0, .3) 0px 30px 100px -24px;
  }

  .bounce2 {
  animation: bounce2 1.8s ease-in-out infinite;
  }
  
  @keyframes bounce2 {
	0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
	40% {transform: translateY(-20px);}
	60% {transform: translateY(-10px);}
  }

  @keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 80%;
    transform: translateY(0);
  }
}

  }